<form class="admin-form">
    <div class="form-group">
        <label for="inputTitle">Title</label>
        <input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="article.title" ng-change="article.updateSlug()" required="required">
    </div>
    <div class="form-group">
        <label for="inputPublishedDate">Publish Date</label>
        <input type="text" class="form-control" id="inputPublishedDate" bh-pickadate="article.publishedDate" bh-pickadate-change="article.updateSlug(true)">
    </div>
    <div class="form-group">
        <label for="inputSlug">Slug</label>
        <input type="text" class="form-control" id="inputSlug" ng-model="article.slug" required="required">
    </div>
    <div class="form-group">
        <label>Text</label>
        <div class="editor" bh-editor bh-editor-update="article.getSetText" bh-editor-model="article.text"></div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<bh-article bh-model="article"></bh-article>