<div class="dashboard">
    <div class="text-right">
        <a class="pure-button" ui-sref="admin/article/new">
            <i class="fa fa-plus"></i>
            New Article
        </a>
    </div>
    <ul class="article-list">
        <li ng-repeat="article in dashboard.articles">
            <a ui-sref="admin/article({id: article.id})">
                {{ article.title }}
            </a>
            <div class="unpublished" ng-show="!article.published">
                Unpublished
            </div>
            <div class="controls">
                <a class="pure-button" ui-sref="admin/article({id: article.id})">
                    <i class="fa fa-pencil"></i>
                    Edit
                </a>
                <button class="pure-button button-error" ng-click="dashboard.deleteArticle($index)">
                    <i class="fa fa-trash"></i>
                    Delete
                </button>
            </div>
        </li>
    </ul>
</div>
