
<article>
    <header>
        <h1>
            <a ui-sref="article({year: article.slugParts.year, month: article.slugParts.month, title: article.slugParts.title})">
                {{ article.title }}
            </a>
        </h1>
        <div class="published-date">
            <i class="fa fa-pencil"></i>
            {{ article.publishedDate | date:'MMMM d, yyyy' }}
        </div>
        <ul class="tags" ng-show="article.tags && article.tags.length > 0">
            <li ng-repeat="tag in article.tags">
                <a ui-sref="tag({tag: tag.url})">
                    <i class="fa fa-tag"></i> {{ tag.name }}
                </a>
            </li>
        </ul>
    </header>

    <div class="body" bh-markdown="article.text"></div>

    <bh-disqus article="article.raw" active="article.showComments" />
</article>
